<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Vue.js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="../../../core/styles/styles.css">
    <style>
        .shower {
            --slide-ratio: calc(16 / 9);
        }
    </style>
</head>
<body class="shower list">

<header class="caption">
    <h1>Основи роботи з компонентами. Шаблони. Директиви</h1>
</header>

<section class="slide">
    <h2>Лекція 6. Основи роботи з компонентами. Шаблони. Директиви</h2>
    <h3>План лекції:</h3>
    <ol>
        <li>Що таке компонент Vue.js?</li>
        <li>Структура компонента Vue</li>
        <li>Шаблон. Робота з шаблонами Vue.</li>
        <li>Директиви. Застосування директив.</li>
    </ol>
</section>

<section class="slide">
    <h2>Основні концепції Vue.js</h2>
    <ol>
        <li><a href="https://ua.vuejs.org/guide/essentials/reactivity-fundamentals.html"
               target="_blank">Реактивність</a>.
        </li>
        <li><a href="https://ua.vuejs.org/guide/essentials/forms.html#form-input-bindings">Двостороннє зв'язування</a>.
        </li>
        <li><a href="https://ua.vuejs.org/guide/essentials/template-syntax.html">Декларативність (Templates,
            Directives)</a>.
        </li>
        <li><a href="https://ua.vuejs.org/guide/essentials/component-basics.html">Компоненти</a>.</li>
    </ol>
</section>

<section class="slide">
    <h2>Що таке компонент Vue.js?</h2>
    <p><b>Компоненти</b> — це блоки, які дозволяють нам розділити інтерфейс користувача (UI) на незалежні частини, які
        можна багаторазово використовувати, і думати про кожну частину окремо. <a
                href="https://ua.vuejs.org/guide/essentials/component-basics.html" target="_blank">Documentation.</a>
    </p>
    <img src="pictures/component.png" alt="" width="650" style="display: block; margin: 0 auto">
</section>

<section class="slide">
    <h2>Що таке компонент Vue.js?</h2>
    <p>
        Vue.js використовує мову шаблонів,
        щоб визначити, як має виглядати
        інтерфейс користувача. Ця мова
        використовує комбінацію HTML, CSS і
        JavaScript для визначення макета та
        стилю програми
    </p>
    <p>
        <b>Компоненти</b> — це будівельні блоки,
        які можна повторно
        використовувати в усій програмі. Ці
        компоненти створюються за
        допомогою мови шаблонів Vue.js і
        можуть використовуватися для
        створення складних, динамічних
        інтерфейсів користувача
    </p>
</section>

<section class="slide">
    <h2>Що таке компонент Vue.js?</h2>
    <p>
        Vue.js використовує мову шаблонів,
        щоб визначити, як має виглядати
        інтерфейс користувача. Ця мова
        використовує комбінацію HTML, CSS і
        JavaScript для визначення макета та
        стилю програми
    </p>
    <p>
        <b>Компоненти</b> — це будівельні блоки,
        які можна повторно
        використовувати в усій програмі. Ці
        компоненти створюються за
        допомогою мови шаблонів Vue.js і
        можуть використовуватися для
        створення складних, динамічних
        інтерфейсів користувача
    </p>
</section>

<section class="slide">
    <h2>Оголошення компонента Vue</h2>
    <p>
        Ми визначаємо кожен компонент Vue у спеціальному файлі за допомогою розширення .vue, відомого як однофайловий
        компонент (скорочено SFC, скорочено від (англ.) Single File Component).
    </p>
    <p>
        Одно-файлові компоненти Vue (відомі також як файли *.vue, скорочено SFC) — це спеціальний формат файлу, який
        дозволяє нам інкапсулювати шаблон, логіку та стиль компонента Vue в одному файл.
    </p>
</section>

<section class="slide">
    <h2>Структура компонента Vue</h2>
    <div class="columns two">
        <img src="pictures/1.png" width="450" alt="">
        <div>
            <ol>
                <li>Блок template</li>
                <li>Блок script</li>
                <li>Блок style</li>
            </ol>
            <p>
                Як ми бачимо, Vue SFC є природним розширенням класичного тріо HTML, CSS і JavaScript.
                Блоки template, script і style інкапсулюють та розміщують вид, логіку та стиль компонента в одному
                файлі.
            </p>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <b>Інтерполяції</b>
    <p>Найпростіший спосіб зв'язування даних — це
        текстова інтерполяція з використанням
        синтаксису Mustache (подвійних фігурних дужок):
        <br>
        <code>
            <span>Повідомлення: {{ msg }}</span>
        </code>
    </p>
    <p>
        Вираз у фігурних дужках буде замінено значенням
        властивості msg відповідного об'єкта даних.
        Крім того, воно буде оновлено за будь-якої зміни цієї
        властивості (динамічно).
    </p>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <b>Сирий (rawHtml) HTML (Директива v-html)</b>.
    <p>
        Значення виразу у подвійних фігурних дужках підставляється як
        простий текст, а не як HTML. Для HTML необхідно
        використовувати директиву v-html:
    </p>
    <p>
        <code>
            &lt;p&gt;Інтерполяція: {{ rawHtml }}&lt;/p&gt;
            <br>
            &lt;p&gt;Директива v-html: &lt;span v-html="rawHtml"&gt;&lt;/span>&lt;/p&gt;
        </code>
    </p>
    <p>Вміст тега span буде замінено значенням властивості rawHtml,
        інтерпретованого як звичайний HTML — усі прив'язки даних ігноруються.
    </p>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <b>Запам'ятайте!</b>
    <p>
        Ви не можете використовувати v-html для вкладення шаблонів один
        в одного, тому що двигун шаблонів Vue не ґрунтується на рядках.
    </p>
    <p>
        Натомість потрібно використовувати компоненти, що дозволяють
        поєднувати та перевикористовувати елементи UI.
    </p>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <b>Атрибути</b>
    <p>
        Синтаксис подвійних фігурних дужок не працює з HTML-атрибутами.
        Використовуйте замість нього директиву v-bind:
    </p>
    <p>
        <code>
            &lt;div v-bind:id="dynamicId"&gt;&lt;/div&gt;
            <br>
            bind - зв'язати
        </code>
    </p>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <b>Атрибути</b>
    <p>
        При використанні булевих атрибутів (коли їх наявність вже означає true)
        v-bind працює трохи інакше. У цьому прикладі:
    </p>
    <p>
        <code>
            &lt;button v-bind:disabled="isButtonDisabled"&gt;Кнопка&lt;/button&gt;
        </code>
    </p>
    <p>Якщо значенням isButtonDisabled буде null, undefined чи false, то атрибут
        disabled не додасться до елемента &lt;button&gt;
    </p>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <b>Використання виразів JavaScript</b>
    <p>
        Поки ми пов'язували дані з
        властивостями у шаблонах лише за
        простими ключами. Однак насправді
        при зв'язуванні даних Vue підтримує
        всю потужність виразів JavaScript:
    </p>
    <p>
        <code>
            {{ number + 1 }}
            <br>
            {{ ok ? 'YES' : 'NO' }}
            <br>
            {{ message.split('').reverse().join('') }}
            <br>
            &lt;div v-bind:id="'list-' + id"&gt;&lt;/div&gt;
            <br>
            &lt;div v-bind:id="`list-${id}`"&gt;&lt;/div&gt;
        </code>
    </p>
</section>

<section class="slide">
    <h2>Шаблон (template). Робота з шаблонами Vue</h2>
    <p>Вирази будуть обчислені як JavaScript-код у області видимості відповідного
        екземпляра Vue.</p>
    <p>
        Єдине обмеження в тому, що допускається лише один вираз, тому код нижче
        не спрацює:
    </p>
    <p>
        <code>
            {{ const a = 1 }}
            <br>
            {{ if (ok) {return message} }}
        </code>
    </p>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <b>Директиви</b>
    <p>
        Це спеціальні атрибути із префіксом v-.
    </p>
    <p>
        Директива реактивно застосовує DOM зміни при оновленні значення цього виразу.
    </p>
    <p>
        <code>
            &lt;p v-if="seen"&gt;This is vue directive!&lt;/p&gt;
        </code>
    </p>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <b>Директиви</b>
    <p>
        Деякі директиви можуть приймати
        «аргумент», відокремлений від назви
        директиви двокрапкою.
    </p>
    <p>
        Наприклад, директива v-bind
        використовується для реактивного
        оновлення атрибутів HTML:
        <code>
            &lt;a v-bind:href="url"&gt;link&lt;/a&gt;
        </code>
    </p>
    <p>
        Іншим прикладом буде директива v-on,
        яка відстежує події DOM:
        <br>
        <code>
            &lt;button v-on:click="doSomething"&gt;Vue button click&lt;/button&gt;
        </code>
    </p>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Скорочення v-bind</b>
            <br>
            <img src="pictures/2.png" alt="" width="100%">
        </div>
        <div>
            <b>Скорочення v-on</b>
            <br>
            <img src="pictures/3.png" alt="" width="100%">
        </div>
    </div>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Директива v-if</b>
            <p>
                Директива v-if використовується
                для умовного відтворення блоку.
                Блок буде відтворено, лише якщо
                вираз директиви повертає
                правдиве значення.
            </p>
            <code>
                &lt;h1 v-if="flag"&gt;Hello&lt;/h1&gt;
            </code>
        </div>
        <div>
            <b>Директива v-else</b>
            <p>Ви можете використовувати
                директиву v-else, щоб вказати «блок
                else» для v-if:
            </p>
            <code>
                &lt;button @click="flag = !flag">&gt;Click&lt;/button&gt;
                <br>
                &lt;h1 v-if="flag"&gt;Hello!&lt;/h1&gt;
                <br>
                &lt;h1 v-else&gt;Bye!&lt;/h1&gt;
            </code>
        </div>
    </div>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <b>Директива v-else-if</b>
    <p>
        Служить «блоком else if» для v-if.
        Можна прив’язувати кілька разів:
    </p>
    <img src="pictures/4.png" alt="" width="600">
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <b>Директива v-show</b>
    <p>
        Іншим варіантом умовного відображення елемента є директива v-show.
        Використання в основному однакове:
    </p>
    <code>
        &lt;h1 v-show="show"&gt;Hello&lt;/h1&gt;
    </code>
    <p>
        Різниця полягає в тому, що елемент з v-show завжди відображатиметься та
        залишатиметься в DOM; v-show лише перемикає властивість CSS відображення
        елемента.
    </p>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Директива v-for</b>
            <p>
                Використовуйте директиву v-for для відображення
                списку елементів на основі масиву даних.
            </p>
            <p>Директива v-for має особливий
                синтаксис запису:
                item in items, де items — вихідний
                масив, а item — посилання на
                поточний елемент масиву.
            </p>
            <p style="font-size: 15px; color: red">Замість in роздільником можна використовувати of, як в ітераторах
                JavaScript
            </p>
        </div>
        <div>
            <img src="pictures/5.png" alt="" width="100%">
            <img src="pictures/6.png" alt="" width="230px">
        </div>
    </div>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Директива v-for для об’єкта</b>
            <img src="pictures/7.png" alt="" width="100%">
        </div>
        <div>
            <b>Результат</b>
            <img src="pictures/8.png" alt="" width="100%">
        </div>
    </div>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Директиви v-for і v-if</b>
            <p>
                Коли присутні разом на одному елементі.
                Проблема тут виникає через те, що ви намагаєтесь отримати доступ до властивості isComplete у межах циклу
                v-for
                та умови v-if разом, що може створити деякі проблеми, якщо todos не повністю відображено або має
                невизначені
                значення.
            </p>
        </div>
        <img src="pictures/9.png" alt="" width="80%">
    </div>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Директиви v-for і v-if</b>
            <p>
                Більш надійний спосіб впоратися з цим полягає в тому, щоб переконатися, що масив належним
                чином
                повторюється та фільтрується перед рендерингом.
            </p>
        </div>
        <img src="pictures/10.png" alt="" width="90%">
    </div>
</section>

<section class="slide">
    <h2>Директиви. Застосування директив.</h2>
    <div class="columns two">
        <div>
            <b>Директиви v-for і v-if</b>
            <p>
                Використання <a href="https://ua.vuejs.org/api/built-in-special-elements.html#template" target="_blank">&lt;template&gt;</a>
            </p>
        </div>
        <img src="pictures/11.png" alt="" width="80%">
    </div>
</section>

<section class="slide">
    <h2>Резюме</h2>
    <ul>
        <li>Компоненти — це будівельні блоки, які можна повторно використовувати в усій
            програмі (<a href="https://ua.vuejs.org/guide/essentials/component-basics.html" target="_blank">Docs</a>).
        </li>
        <li> Компоненти створюються за допомогою мови шаблонів Vue.js і можуть
            використовуватися для створення складних, динамічних інтерфейсів користувача
        </li>
        <li>Директиви — це спеціальні атрибути із префіксом v-. (<a
                href="https://ua.vuejs.org/api/built-in-directives.html" target="_blank">Docs</a>)
        </li>
        <li><a href="https://ua.vuejs.org/tutorial/" target="_blank">Tutorial</a></li>
    </ul>
</section>

<section class="slide">
    <h2 class="shout">Дякую за увагу!</h2>
</section>

<div class="progress"></div>

<script src="../../../core/shower.js"></script>
</body>
</html>

